.container {
    width: 1024px; 
    min-height: 300px; /* minimum height to go, can be more */
    background-color: rgb(11, 75, 11);
    margin: 0px auto 0px auto; /*top right bottom left*/
}

header {
    background-color:rgb(48, 139, 48);
    min-height: 90px;
}

main {
    background-color:rgb(113, 200, 113);
    min-height: 300px;
}

.cards {
    background-color:greenyellow;
    min-height: 300px;
}